<div class="container">
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Category</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= link_to restaurant.name, restaurant_path(restaurant) %></td>
          <td><%= restaurant.address %></td>
          <td><%= restaurant.category.capitalize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
